* {
  box-sizing: border-box;
  transition: all .3s ease;
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    border-radius: 6px;
    background-color: rgba(134,134,134,0.1);
}

::-webkit-scrollbar-thumb {
     border-radius: 6px;
    background-color: rgba(16,16,16,0.2);
}
html, body {
  background: #eee;
  background: url('https://c4.wallpaperflare.com/wallpaper/126/494/520/apple-music-colors-blur-5k-wallpaper-preview.jpg') no-repeat 0 0 ;
  background-size: cover;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

main {
  width: calc(100% - 20px);
  max-width: 600px;
  margin: 0 auto;
  font-family: Helvetica, Arial, Sans, sans-serif;
}

h1, .user-count {
  margin: 0;
  padding: 10px 0;
  font-size: 32px;
  color: rgba(52, 52, 71, 0.74);
}

.user-count {
  float: right;
}


.chat {
  content: '';
  width: 100%;
  height: calc(100vh - 165px);
  /*background: white;*/
  padding: 5px 10px;
  border-radius: 8px;
  overflow-y: auto;
}


.chat .chat_message{
  width: 80%;
  padding: 15px;
  margin: 5px 10px 0;
  border-radius: 10px;
  color: #F9F9F9;
  font-size: 18px;
}

.chatMessage {
  position: absolute;
}

.messageBox {
  padding: 8px;
  border-radius: 10px;
  clear: both;
  opacity: 0.5;
  background-color: black;
  color: white;
  margin-bottom: 10px;
}

.messageBox.info {
  text-align: center;
}

.messageBox .date {
  display: inline;
  font-family: monospace;
  font-size: 12px;
}
.messageBox .text::before {
  content: "";
  display: block;
}

.messageBox .user {
  display: inline;
  font-family: Arial;
  font-weight: bold;
}

.friend{
	/*background: #1B8EF9;*/
	float: left;
}
.self{
	/*background: #AE03B8;*/
	float: right;
}

input, button {
  width: 100%;
  font: inherit;
  background: #fff;
  border: none;
  margin-top: 10px;
  padding: 5px 10px;
  border-radius: 4px;
}

button:hover {
  cursor: pointer;
  background: #ddd;
}



@media all and (min-width: 500px) {
  .chat {
    height: calc(100vh - 140px);
  }
  input {
    width: calc(100% - 160px);
  }
  button {
    float: right;
    width: 150px;
  }
}

